extends ../layout

block content
    h1.
        Student ID #{student._id}
    p Name: #{student.name}
    p Roll: #{student.roll}
    p Batch: #{student.batch}
    p Session: #{student.session}
    p Gender: #{student.gender}
    p Date of admission: #{student.doa}